attrdict==2.0.1
--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.*

-f https://data.pyg.org/whl/torch-2.6.0+cu124.html
torch_geometric
torch_scatter
torch_sparse
torchvision
torch_householder
scikit-learn

